@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

body{
    background-image: url("img/background2.png");
    background-position: top;
    color: #00bcd4;
    font-family: 'Goldman', cursive;
}

h1{
    display: none;
}

.title{
    background-image: url("img/title.png");
    width: 720px;
    height: 240px;
    background-position: center;
    margin: 0 auto;
}

.game{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputimages{
    display: flex;
    justify-content: center;
    margin: 0;
}


#rock{
    background-image: url("img/rockbutton.png");
    background-color: transparent;
    width: 140px;
    height: 140px;
    margin-right: 20px;
    border-style: none;
}

#paper{
    background-image: url("img/paperbutton.png");
    background-color: transparent;
    width: 140px;
    height: 140px;
    margin-right: 20px;
    border-style: none;
}

#scissors{
    background-image: url("img/scissorsbutton2.png");
    background-color: transparent;
    width: 140px;
    height: 140px;
    margin-right: 20px;
    border-style: none;
}

#scissors:hover {
    background-image: url("img/scissorshover.png");
}

#paper:hover {
    background-image: url("img/paperhover.png");
}

#rock:hover {
    background-image: url("img/rockhover.png");
}

#computer{
    background-image: url("img/playbutton.png");
    background-color: transparent;
    height: 45px;
    width: 110px;
    margin: 10px;
    border-style: none;
}

#computer:hover {
    background-image: url("img/playhover.png");
}

.controls{
    background-color: rgba(0, 0, 0, 0.35);
}